@charset "UTF-8";

@import 'mixins';

/*** MIXINS USAGE ***

	@include font-face("fontName", "../fonts/fontPath/fontName", normal); 

	@include xs(12);
	@include sm(12);
	@include md(12);
	@include lg(12);

	@include r(768);
	@include rmin(768);

	@include trans / trans($what $dur $easing);
	@include cover;

	@include centerX / centerXa
	@include centerY / centerYa

	@include overlay($opacity)
***/

html, body {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

.item {
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	position: relative;
	&:before {
		font-weight: bold;
		font-size: 35px;
		position: absolute;
		right: 25px;
		top: 15px;
		color: #888;
	}
}


// FOR #1

.item-1 {
	background: #F0F0F0;
	&:before {content: '#1'}
	.wrap {
		background: #fff;
		border-radius: 20px;
		padding: 30px 37px;
		display: inline-block;
		position: relative;
		box-shadow: 0px 20px 61px -14px rgba(0,0,0,0.2);
	}
	.align {
		display: inline-block;
		margin-right: 35px;	
		cursor: pointer;
		span {
			background: #E1E1E1;
			display: block;
			margin-bottom: 6px;
			width: 27px;
			height: 4px;
			border-radius: 10px;
			&:last-child {margin-bottom: 0;}
		}	
		&__left span:last-child {
			width: 12px;
			float: left;
		}
		&__center span:last-child {
			width: 13px;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
		&__right span:last-child {
			width: 13px;
			float: right;
		}
		&__justify {margin-right: 0;}
		&-bar {
			position: absolute;
			top: 30px;
			left: 0;
			width: 100%;
			opacity: 0;
			margin-right: 0;
			pointer-events: none;
			span {background: #383838;}
		}
	}
}

// FOR #2

.item-2 {
	background: #D7DDE9;
	&:before {content: '#2'}
	.wrap {
		background: #fff;
		border-radius: 20px;
		padding: 22px 37px;
		display: inline-block;
		position: relative;
		box-shadow: 0px 20px 61px -14px rgba(0,0,0,0.2);
	}
	.align {
		background: #D7DDE9;
		width: 40px;
		height: 40px;
		display: inline-block;
		margin: 0 15px;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		img {
			position: relative;
			z-index: 2;
		}
		&::before {
			content: '';
			display: block;
			position: absolute;
			background: #14D96A;
			z-index: 1;
			transition: all .3s ease-in-out;
		}
		&-compound {
			&:before {
				top: 50%;
				left: 50%;
				transform:translate(-50%,-50%);
				width: 0;
				height: 0;				
			}
			&.active:before {
				width: 100%;
				height: 100%;
			}
		}
		&-top {
			&:before {
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
			}
			&.active:before {width: 100%;}
		}
		&-cross {
			&:before {
				top: 50%;
				left: 50%;
				transform:translate(-50%,-50%);
				width: 0;
				height: 0;
				border-radius: 50%;
			}
			&.active:before {
				width: 150%;
				height: 150%;
			}
		}
		&-exception {
			&:before {
				top: 0;
				left: 0;
				width: 100%;
				height: 0;
			}
			&.active:before {height: 100%;}
		}
	}
}

// FOR #3

.item-3 {
	width: 50%;
	background: #E2EAF4;
	&:before {content: '#3'}
	.wrap {
		background: #fff;
		border-radius: 20px;
		padding: 27px 35px;
		width: 228px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		box-shadow: 0px 20px 61px -14px rgba(0,0,0,0.2);
	}
	.align {
		display: inline-block;
		position: relative;
		width: 40px;
		height: 30px;
		cursor: pointer;
		span {
			background: #BFCCD7;
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
		}
		.line {
			width: 2px;
			height: 30px;
		}
		.square {
			width: 8px;
			height: 20px;
			top: 50%;
			transform: translateY(-50%);
			&-2 {height: 12px;}
		}
		&-left {
			.line-2 {left: 14px;}
			.square-2 {left: 14px;}
		}
		&-center {	
			left: 4px;
			.line-1 {left: 3px;}
			.square-1 {left: 0px;}
			.line-2 {left: 17px;}
			.square-2 {left: 14px;}
		}
		&-right {
			.line-1 {left: 13px;}
			.square-1 {left: 7px;}
			.line-2 {left: 27px;}
			.square-2 {left: 21px;}
		}
		&-bar {
			position: absolute;
			top: 27px;
			left: 35px;
			width: 100%;
			opacity: 0;
			margin-right: 0;
			pointer-events: none;
			margin: 0;
			span {background: #1C8BFD;}
		}
	}
}

// FOR #4

.item-4 {
	width: 50%;
	background: #F1F4FA;
	&:before {content: '#4'}
	.wrap {
		background: #fff;
		border-radius: 20px;
		padding: 27px 35px;
		width: 197px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		box-shadow: 0px 20px 61px -14px rgba(0,0,0,0.2);
		overflow: hidden;
	}
	.align {
		display: inline-block;
		position: relative;
		width: 40px;
		height: 23px;
		cursor: pointer;		
		&:before {
			content: '';
			position: absolute;
			width: 4px;
			height: 15px;
			top: 5px;
			left: 8px;
			background: #F16F6E;
			z-index: 99;
			transition: all .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
		}
		&:after {
			content: '';
			position: absolute;
			width: 4px;
			height: 12px;
			top: 5px;
			left: 18px;
			background: #F16F6E;
			z-index: 99;
			transition: all .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
		}
		span {
			background: #BFCCD7;
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
		}
		.line {
			width: 30px;
			height: 2px;
		}
		.square {
			width: 4px;
			height: 15px;
			top: 5px;
			&-2 {height: 12px;}
		}
		&-left {			
			.square-1 {left: 8px;}
			.square-2 {left: 18px;}
			&.active {
				&:before, &:after {top: 5px;}
			}
		}
		&-center {	
			left: 1px;		
			.line {top: 10px;}
			.square-1 {
				top: 4px;
				left: 8px;
			}
			.square-2 {left: 18px;}		
			&:before, &:after {top: 55px;}
			&.active {
				&:before {top: 4px;}
				&:after {top: 5px;}
			}	
		}
		&-right {
			.line {
				top: initial;
				bottom: 0;
			}
			.square-1 {
				top: initial;
				bottom: 5px;
				left: 8px;
			}
			.square-2 {
				top: initial;
				bottom: 5px;
				left: 18px;
			}
			&:before, &:after {top: -55px;}
			&.active {
				&:before {top: 3px;}
				&:after {top: 6px;}
			}	
		}
	}
}
